/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 


.nbm-calculator-wrapper {}

form.nbm-calculator {}



.nbm-form-row {
    margin: 0 0 1.5em 0;
}

.nbm-form-row.nbm-form-row-has-2 {
    overflow: visible;
    width: calc(100% + 15px);
}

.nbm-form-row.nbm-form-row-has-2 span {
    display: inline-block;
    vertical-align: top;
    padding-right: 16px;
    width: 50%;
    margin-left: -32px;
}

.nbm-form-row.nbm-form-row-has-2 span:first-child {
    margin-left: 0px !important;
}

.nbm-form-row.nbm-form-row-has-2 label {
    display: block;
}


.nbm-form-input-container {}

form.nbm-calculator label {
    display: inline-block;
    font-weight: 700;
    font-size: inherit;
}


form.nbm-calculator select {
    height: auto;
    width: auto;
}




.nbm-form-help-text {
    padding-top: 8px;
    font-size: .813em;
    line-height: inherit;
    clear: both;
    font-family: inherit;
    letter-spacing: normal
}


#nbm-calculator-response {
    display: none;
    /*
    background: #333;
    padding: 15px;
    font-family: monospace;
    font-size: 14px;
    color: lime;
    line-height: 1.4;
    */
}

#nbm-calculator-response .response-title {}

#nbm-calculator-response span {
    display: block;
    border: 1px solid #eee;
    padding: 16px;
    margin-bottom: 16px;
}
#nbm-calculator-response span.bmr {}
#nbm-calculator-response span.tdee {}
#nbm-calculator-response span.calorie-target {}
#nbm-calculator-response span.protein-target {}


